{% extends "adminlayout.html"%}
{% load static %}

{% block content %}
<div id="demo" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button data-bs-target="#demo" data-bs-slide-to="0" class="active"> </button>
        <button data-bs-target="#demo" data-bs-slide-to="1" > </button>
        <button data-bs-target="#demo" data-bs-slide-to="2" > </button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'Cancer images/cancer.jpg'%}" class="img img-fluid w-100 " alt="">
        </div>
        <div class="carousel-item ">
            <img src="{% static 'Cancer images/cancer diagnosis & prognosis.webp'%}"  class="img img-fluid w-100" alt="">
        </div>
        <div class="carousel-item ">
            <img src="{% static 'Cancer images/cancer diagnosis.webp'%}" class="img img-fluid w-100" alt="">
        </div>
    </div>
    <button data-bs-target="#demo" class="carousel-control-prev" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span></button>
    <button data-bs-target="#demo" class="carousel-control-next" data-bs-slide="next"><span class="carousel-control-next-icon"></span></button>
</div>

{% endblock %}