{% extends "room.html"%}
{% load static %}

{% block content %}
<style>
     body{
        background-color: black;
    }

    .center {
      margin: auto;
      width: 60%;
      border: 5px solid whitesmoke;
      padding: 10px;
    color: whitesmoke;
    }
</style>
<body>
    <div class="center mt-5" >
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div>
                        <h1 style="font-family:Agency FB"></h1>
                        <span>{{msg}}</span>
                            <form action="view/" method="get">
                                <div>
                                    <h1 style="font-family:Agency FB" style="text-align: center;color: white;" >PATIENT DETAILS</h1>
                                    <div class="mb-3">
                                        <input class="form-control border-3 border-dark" type="mail" name="Mail" id="Mail-id" placeholder="Email-Id">
                                    </div>
                                    <div class="mb-3">
                                        <input class="form-control border-3 border-dark" type="name" name="Name" id="Name" placeholder="Full Name">
                                    </div>
                                    <div class="mb-3">
                                        <input class="form-control border-3 border-dark" type="UMR" name="UMR" id="UMR" placeholder="UMR No">
                                    </div>
                                    <div class="mb-2 ">
                                        <button class="btn btn-success " type="submit"><a href="visited/" ></a>View</button>
                                        <button class="btn btn-danger" type="reset">Reset</button>
                                    </div>
                                </div>
                            </form> 
                    </div>                
                        
                </div>
            </div>
        <div class="col-sm-6">
        </div>
        </div>
        </div>

      </div>

</body>
    
{% endblock %}

<p><b>Name <span style="text-align: center;">:</span></b></p>
                    <p><b>Address <span style="text-align: center;">:</span></b></p>
                    <p><b>Age/Sex <span style="text-align: center;">:</span></b></p>
                    <p><b>UMR No <span style="text-align: center;">:</span></b></p>
                    <p><b>Result No <span style="text-align: center;">:</span></b></p>
                    <p><b>Ref By<span style="text-align: center;">:</span></b></p>
