{% extends "index.html"%}
{% load static %}


{% block content %}
<div class="container ">
    <div class="row">
        <div class="col-sm-6">
            <img src="{% static 'Cancer images/oncology logo.png'%}" class="img img-thumbnail rounded-circle w-100" alt="">
        </div>
        <div class="col-sm-6">
            <div>
            <h1 style="font-family:Agency FB">REGISTER FORM</h1>
            <span>{{msg}}</span>
                <form action="doregister" method="">
                  <!--  <div class="mb-3">
                        <input class="form-control border-3 border-dark" type="Name" name="Name" id="Name-id" placeholder="Full Name">
                    </div>
                    <div class="mb-3">
                        <input class="form-control border-3 border-dark" type="mail" name="Mail" id="Mail-id" placeholder="Email-Id">
                    </div>
                    <div class="mb-2">
                        <input class="form-control border-3 border-dark" type="password" name="Password" id="Password" placeholder="Password">
                    </div> -->
                   <div>
                    <div class="mb-3">
                        <input class="form-control border-3 border-dark" type="mail" name="Mail" id="Mail-id" placeholder="Email-Id">
                    </div>
                    <div class="mb-2">
                        <input class="form-control border-3 border-dark" type="password" name="Password" id="Password" placeholder="Password">
                    </div>    
                    <div class="mb-2">
                            <select class="form-select border-black border-3" name="HospitalName" id="Hospital">
                                 <option value="-">--Select Hospital--</option>
                                 <option value="HCG">HCG Cancer Center,Visakhapatnam</option>
                                 <option value="American">American Oncology Institute,Guntur</option>
                                <option value="SVIMS">Sri Venkateswara Institute of Medical Sciences,Tirupati</option>
                                <option value="Mahatma">Mahatma Gandhi Cancer Hospital & Research Institute,Visakhapatnam</option>
                                <option value="TT">Tata Trust's Cancer Hospital,Tirupati</option>
                            </select>     
                    </div>
                
                    <div class="mb-2">
                        <select class="form-select border-black border-3" name="department" id="department">
                             <option value="-">--Select Department--</option>
                             <option value="HCG">Oncology</option>
                            
                        </select>     
                    </div>
                <div class="mb-2">
                    <select class="form-select border-black border-3" name="branchaddress" id="branch">
                         <option value="-">--Select Branch--</option>
                         <option value="HCG">Road2,Visakhapatnam</option>    
                    </select>     
                </div>
             <div class="mb-2">
                <input class="form-control border-3 border-dark" type="tel" name="Phoneno" id="Phoneno" placeholder="Contact Number">
            </div>
        </div>
    </div>
    
        
                
                <div class="mb-2 ">
                            <button class="btn btn-success " type="submit">Register</button>
                            <button class="btn btn-danger" type="reset">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}