{% extends "adminlayout.html"%}
{% load static %}

{% block content %}
<body>
    <div class="container ">
        <div class="row">
          <!-- <div class="col-sm-6">
                <img src="{% static 'Cancer images/oncology logo.png'%}" class="img img-thumbnail rounded-circle w-100 mt-5" alt="">
            </div>
            <div  class="col-sm-6 p-4 overflow-scroll ">-->
            
                <h3 class="alert bg-dark text-white text-center mt-2">Admin Page</h3>
                <table class="table">
                    <thead>
                        <th>Email</th>
                        <th>Password</th>
                        <th>HospitalName</th>
                        <th>Branchaddress</th>
                        <th>Contact</th>
                        <th>Design</th>
                    </thead>
                    {% for user in user %} 
                    <tr>
                        <form action="/modify">
                            <td>
                                <input type="text" disabled value="{{user.email}}" name="email" id="">
                            </td>
                            <td>
                                <input type="text" value="{{user.password}}" name="Password" id="">
                            </td>
                            <td>
                                <input value="{{user.hospitalname}}" type="text" name="HospitalName">
                            </td>
                            <td>
                                 <input type="text" value="{{user.branchaddress}}" name="Branchaddress" id="">
                             </td>
                            <td>
                                 <input type="text" value="{{user.contact}}" name="Phoneno" id=""> 
                            </td>
                            <td>
                                 <input type="text" value="{{user.design}}" name="design">
                             </td>


                             <td>
                                <button value="update" name="operations" type="submit" class="btn btn-success">Update</button>
                            </td>
                            <td>
                                <button value="delete" name="operations" type="submit" class="btn btn-danger">Delete</button>
                             </td>

                        </form>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</body>
{% endblock %}