{% extends "room.html"%}
{% load static %}

{% block content %}
<style>
    table{
        border-collapse: collapse;
        width:100%;
    }
    td{
        padding:8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    body{
     background-color: black;
      color: white;
    }
    .center {
      margin: auto;
      width: 60%;
      border: 5px solid whitesmoke;
      padding: 10px;
    color: whitesmoke;
    }
    #demo{
        color: white;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

<body>
   
    <h1 style="text-align: center;" class="mt-2">
        <img src="{% static 'Cancer images/HCG.png'%}" class="img img-fluid rounded-circle" style="width: 75px;" alt="">HCG Cancer Center</h1>
    <div class="center mt-5" >
    <div style="text-align: center;">
        <h3>PATIENT DETAILS</h3>
        <table>
            <tr>
                <td>Name</td>
                <td>DAGGUBATI RAM KRISHNA</td>
            </tr>
            <tr>
                <td>Age/Sex</td>
                <td>36/Male(M)</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>Santhapeta,Nellore,Andhra Pradesh</td>
            </tr>
            <tr>
                <td>Contact No</td>
                <td>9652335115</td>
            </tr>
            <tr>
                <td>Email Id</td>
                <td>ram123@gmail.com</td>
            </tr>
            <tr>
                <td>UMR No</td>
                <td>UMR123456</td>
            </tr>
            
            <tr>
                <td>Ref By</td>
                <td>Dr.Chandrakanth</td>
            </tr>
        </table>
    </div>
    </div>
    

    <div class="center mt-5">
        <h3 style="text-align: center;">PATIENT REPORT</h3>
        <div>
        <table>
            <tr>
                <td>VISITED DATE</td>
                <td>ANALYSIS</td>
                <td>TREATMENT</td>
            </tr>
            <tr>
                <td>11/05/2024</td>
                <td>Squamous Cell Carcinoma</td>
                <td>Diagnosis</td>
            </tr>
            <tr>
                <td>13/05/2024</td>
                <td>Esophageal Mass</td>
                <td>Diagnosis</td>
            </tr>
            
        </table>
    </div>
    </div>
    <div class="center mt-3">
        <h3 class="text-white" style="text-align: center;">PATIENT ANALYSIS</h3>
        <canvas id="myChart" style="width:100%;max-width:600px"></canvas>

<script id="demo">
const xValues = ["DAY 1","DAY 2","DAY 3","DAY 4"];
const yValues = [55, 49,35,20];
const barColors = ["White","White","White","White"];

new Chart("myChart", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "CHECKUP ANALYSIS"
    }
  }
});
</script>

    </div>
    
</body>

{% endblock %}